<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="fkc" class="org.parkerInc.autowiringApp.FlipkartController" autowire="constructor"></bean>
<bean id="ec" class="org.parkerInc.autowiringApp.Electronics"></bean>
<bean id="fr" class="org.parkerInc.autowiringApp.Furniture"></bean>
<bean id="cs" class="org.parkerInc.autowiringApp.Cosmetics"></bean>
</beans>
